body {
    background-color: rgb(245, 237, 230);
    margin: 0; 
}
a {
    text-decoration: none;
    color: white;
}

a:active {
    background-color: darkcyan;
}

a:hover {
    background-color: rgb(2, 81, 81);
    border-radius: 10%;
}
h3 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.options {
    display: flex;
    justify-content: center;
    gap: 15px; 
    background:linear-gradient(to bottom right,rgb(62, 63, 74) 20%,rgb(236, 203, 136) 60%);
    margin: auto;
    border-radius: 5px; 
    padding: 10px; 
}

.foot p {
    text-align: center;
    color: rgb(232, 239, 224);
}

.foot {
    justify-content: center;
    background:linear-gradient(to bottom right,rgb(62, 63, 74) 20%,rgb(236, 203, 136) 60%);
    background-size: cover;
    border-radius: 5%;
    padding: 20px; 
}
.foot h3{
    text-align: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px; 
}
.wallpaper {
    border: solid 1px rgb(245, 237, 230);
    box-shadow: 0 0 10px rgb(33, 19, 2); 
    border-radius: 5px; 
    padding: 10px; 
    justify-content: center;
    width:30%;
}
.wallpaper h4{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.wallpaper img {
    width: 100%; 
    height: 500px;
}
.wallpaper img:hover{
  transform: scale(1.1);
}
.wallpaper button{
    margin-top: 20px;
    width: 100px;
    background-color: gray;
    color: blanchedalmond;
}
.wallpaper button:hover{
    background-color: black;
}
.centre{
    text-align: center;
}
.wallpaper p {
    font-family: "Merienda";
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    text-align: center;
    color: darkgreen;
}
@media screen and (max-width:786px){
    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px; 
    }
    .wallpaper {
        border: solid 1px rgb(245, 237, 230);
        box-shadow: 0 0 10px rgb(33, 19, 2); 
        border-radius: 5px; 
        padding: 10px; 
        justify-content: center;
        width:90%;
    }
    .main p{
        font-weight: 100;
        font-size:xx-small;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    h3{
        font-weight: 100;
        font-size: small;
    }
}